@font-face {
  font-family: "SF";
  src: url("./../fonts/SFUIDisplay-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "SF";
  src: url("./../fonts/SFUIDisplay-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "SF";
  src: url("./../fonts/SFUIDisplay-Semibold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "SF";
  src: url("./../fonts/SFUIDisplay-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "NY";
  src: url("./../fonts/NewYorkExtraLargeBold.otf") format("otf");
  font-weight: 800;
}
