.title {
  @include text(48, 600, 60);
  font-family: "NY";
  letter-spacing: -0.04em;
  &--c {
    color: $secondColor;
  }
  @media (max-width: $mq3+px) {
    text-align: center;
  }
  @media (max-width: $mq4+px) {
    @include text(38, 600, 45);
  }
}
.btn {
  @include text(14, 600, 40);
  letter-spacing: 0.01em;
  color: #fff;
  padding: 8px 32px;
  background-color: $secondColor;
  border-radius: 4px;
  transition: all 0.5s;
  @media (min-width: $mq3+px) {
    &:hover {
      background-color: darken($secondColor, 25%);
    }
  }
  @media (max-width:$mq3+px){
  padding: 0px 16px;
  }
}
a {
  transition: all 0.5s;
  @media (min-width: $mq3+px) {
    &:hover {
      text-decoration: underline;
    }
  }
}
