
$minWidth: 360px;
$maxWidth: 1920;
$maxWidthContainer: 1110;
$md1: $maxWidthContainer + 12;


$primaryColor: #000000;
$secondColor: #FD665E;
$linkColor: #585858;


// * Media

$mq1: 1440;
$mq2: 1279.98;
$mq3: 991.98;
$mq4: 767.98;
$mq5: 575.98;