// *                      Mixins and variables
@import "vars";
@import "mixin";

// *                      Fonts

@import "fonts";

// *                     Default font family

$fontFamily: "SF";

// *                      Null

@import "null";

// *                     Wrapper

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

// *                     Container

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 6px;
  /* 	@media (max-width: $mq1+px) {
		max-width: 970px;
	}
	@media (max-width: $mq2+px) {
		max-width: 750px;
	}
	@media (max-width: $mq3+px) {
		max-width: none;
		padding: 0 10px;
	} */
}

.container-fluid {
  max-width: 1440px;
  padding: 0 50px;
  margin: 0 auto;
  /* 	@media (max-width: $mq1+px) {
		max-width: 970px;
	}
	@media (max-width: $mq2+px) {
		max-width: 750px;
	}
	@media (max-width: $mq3+px) {
		max-width: none;
		padding: 0 10px;
	} */
}

// *                    Main page

.page {
  flex: 1 1 auto;
}


// *					Import styles
@import 'ui';
@import 'blocks/header';
@import 'blocks/hero';
@import 'lib/lightgallery';
@import 'blocks/room';
@import 'blocks/build';
@import 'blocks/feedback';
@import 'blocks/dream';
@import 'blocks/partners';
@import 'blocks/footer';


.demo-gallery-poster {
		background-color: rgba(0, 0, 0, 0.1);
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		-webkit-transition: background-color 0.15s ease 0s;
		-o-transition: background-color 0.15s ease 0s;
		transition: background-color 0.15s ease 0s;
}

.zoom {
	background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}
.zoom:hover {
    opacity: 1;

}
.zoom:hover .demo-gallery-poster {
	background-color: rgba(0, 0, 0, 0.5);
}