.build {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0px 0px 0px;
    @media (max-width: $mq3+px) {
      justify-content: center;
      flex-direction: column;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
  }

  &__block {
    display: flex;
    max-width: 360px;
    position: relative;
    padding: 0px 0px 0px 75px;
  }
  &__block1 {
    &:after {
      content: "";
      background: url(../img/build/1.svg) no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
  &__block2 {
    &:after {
      content: "";
      background: url(../img/build/2.svg) no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
  &__block3 {
    &:after {
      content: "";
      background: url(../img/build/3.svg) no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
  &__block + &__block {
    margin-top: 48px;
  }

  &__subtitle {
    @include text(16, 700, 26);
  }

  &__descr {
    padding-top: 8px;
    @include text(16, 400, 26);
    letter-spacing: 0.01em;
  }

  &__btn {
    margin-top: 72px;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (max-width:$mq3+px){
       height: 350px; 
    }
  }
}
