.dream {
  background: url(../img/dream/1.png) 10% 50% no-repeat;

  &__container {
  }

  &__wrap {
    display: flex;
    justify-content: flex-end;
    @media (max-width: $mq3+px) {
      justify-content: center;
    }
  }

  &__inner {
    padding: 250px 0;
    flex: 0 1 500px;
    @media (max-width: $mq3+px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  // .dream__title

  &__title {
    span {
      color: $secondColor;
    }
    @media (max-width: $mq4+px) {
      padding: 15px 10px;
      border-radius: 15px;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.7) 0,
        rgba(255, 255, 255, 0.5) 100%
      );
    }
  }

  // .dream__btn

  &__btn {
    display: inline-flex;
    margin: 64px 0px 0px 0px;
  }
}
