.feedback {
  &__inner {
    padding: 65px 0 74px 0;
  }
  &__col {
    padding: 40px 0px 0px 0px;
  }
  &__slide {
    max-width: 860px;
    margin-left: auto;
    padding-left: 100px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      background-image: url(../img/icons/tick.svg);
      background-repeat: no-repeat;
      z-index: 1;
      @media (max-width: $mq5+px) {
        content: none;
      }
    }
    @media (max-width: $mq5+px) {
      padding: 0 10px;
    }
  }

  &__text {
    @include text(32, 300, 51);
    letter-spacing: 0.01em;
    @media (max-width: $mq4+px) {
      @include text(25, 300, 38);
    }
  }

  &__author {
    display: block;
    @include text(16, 700, 25);
    font-style: normal;
    margin-top: 55px;
    span {
      @include text(16, 400, 25);
    }
  }
}
