.footer {
  &__inner {
    padding: 84px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $mq4+px) {
      flex-direction: column;
    }
  }
}
.contacts {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $mq5+px) {
      flex-direction: column;
      justify-content: center;
    }

    li + li {
      margin: 0px 0px 0px 24px;
      @media (max-width: $mq5+px) {
        margin: 0;
      }
    }
  }
  &__link {
    @include text(12, 600, 40);
    letter-spacing: 0.01em;
    color: $linkColor;
  }
}
