.header {
  padding: 24px 0;
  height: 94px;
  position: relative;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $mq5+px) {
      padding: 0 20px;
      flex-direction: column;
    }
  }
  &__logo {
    margin: 0px 38px 0px 0px;
    @media (max-width: $mq5+px) {
      margin: 0;
    }
  }
  &__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $mq5+px) {
      padding: 7px 0;
    }
  }
  &__sign {
    @include text(14, 400, 40);
    letter-spacing: 0.01em;
    color: $linkColor;
  }
  &__signup {
    @extend .btn;
  }
  &__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a + a {
    margin-left: 20px;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    @media (max-width: $mq3+px) {
      flex-direction: column;
      justify-content: center;
    }
  }
  &__item {
    margin: 0px 24px 0px 0px;
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: $mq3+px) {
      margin: 0px 0px 25px 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__link {
    @include text(14, 400, 40);
    letter-spacing: 0.01em;
    color: $linkColor;
    @media (max-width: $mq3+px) {
      color: #fff;
      @include text(23, 400, 40);
    }
  }
  &__body {
    @media (max-width: $mq3+px) {
      transform: translate(-100%, 0);
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: auto;
      background-color: $secondColor;
      padding: 130px 0 0 0;
      transition: all 0.3s ease 0s;
      &._active {
        transform: translate(0px, 0%);
      }
    }
  }
}

.icon-menu {
  display: none;
  @media (max-width: $mq3+px) {
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $secondColor;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &._active {
      span {
      background-color: #fff;
        transform: scale(0);
        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}
