.hero {
  padding: 48px 0;

  &__title {
    @include text(112, 600, 112);
    @media (max-width: $mq4+px) {
      @include text(45, 600, 45);
    }
  }
  &__inner {
    margin: 47px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    @include text(16, 400, 26);
    letter-spacing: 0.01em;
    flex-wrap: wrap;
  }
  &__col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 290px;
  }
  &__btn {
      margin: 48px 0 10px 0;
  }
  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
