.room {
    padding: 64px 0;
    &__title {
        text-align: center;
    }
    &__gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px -22.5px 0px 0px;
    }
    &__column {
        flex: 0 0 33.3333%;
        padding-right: 22.5px;
        padding-top: 40px;
    }
    &__item {
        position: relative;
    }

}